*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  font-size: 14px;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif
}
ul {
  padding: 0;
  list-style: none
}
a {
  text-decoration: none;
  color: inherit;
}
input[type="file"] {
  display: none
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: ''
}
.clearfix:after {
  clear: both
}
.pull-right {
  float: right
}
.pull-left {
  float: left
}
.m-t {
  margin-top: 15px
}
.m-b-5 {
  margin-bottom: 5px
}
.m-b {
  margin-bottom: 15px
}
.text-center {
  text-align: center
}
.text-indent {
  text-indent: 2em
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .3s
}
.fade-enter-active, .fade-leave-active {
  transition: all .1s;
}
.fade-enter {
  opacity: 0;
  transform: translateX(100px);
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f3f4;
}
.mint-header {
  font-size: 16px
}
.mint-cell,
.mint-cell:last-child {
  background: none;
}
.mint-cell-wrapper {
  font-size: 14px;
  background-position: bottom;
}
.mint-cell:last-child .mint-cell-wrapper {
  background: none
}
.mint-field .mint-cell-title {
  width: 90px;
}
.mint-field-core {
  color: #fff;
  font-size: 14px;
  background: transparent;
}
.signup-form .mint-field-core {
  color: #333;
}
.mint-field-other {
  right: -10px;
}
.mint-field-other .mint-button--small {
  font-size: 12px
}
.mint-field-other .img-code {
  width: 84px;
  height: 33px;
  border-radius: 4px
}
a[class*="icon"] .mint-cell-title {
  width: 40px;
}
.mint-cell-text {
  color: #555;
  font-size: 14px
}
a[class*="icon"] .mint-cell-text {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-indent: -2000em;
}
.icon_phone .mint-cell-text {
  background: url(../img/phone.png) no-repeat
}
.icon_pass .mint-cell-text {
  background: url(../img/lock.png) no-repeat
}
.field-group {
  margin-bottom: 10px;
  padding: 0 15px;
  background: #fff
}
.field-group:last-child {
  background: #f2f3f4;
}
.mint-checklist .mint-cell{
  min-height: 20px
}
.mint-checklist .mint-cell-wrapper {
  padding: 0;
}
.mint-checkbox-label {
  margin-left: 0;
}
.mint-checkbox-core::after {
  width: 5px;
  height: 10px;
}
.mint-cell-allow-right::after {
  width: 8px;
  height: 8px;
  border: solid 1px #c8c8cd;
  border-bottom-width: 0;
  border-left-width: 0;
}
.cell-group .mint-cell-title {
  padding-left: 10px;
}
.problem-list .mint-cell-text {
  font-size: 16px;
}